body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: lightgray;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 20px;
  border: black solid 1px;
  font-size: 40px;
}

nav a {
  color: black;
}
  
